@page "/datagrid"
@inject HttpClient Http
@using MyTip.Shared

<h2>DevExpress Data Grid</h2>

<p class="pb-2 pt-2">
    The DevExpress Data Grid for Blazor allows you to display and manage data via a tabular (rows/columns) UI metaphor.
    This page uses our Blazor Data Grid component to display and edit weather forecast values.
</p>

@if(myTipHeaders == null) {
    <p><em>Loading...</em></p>
} else {
<DxDataGrid Data="@myTipHeaders">
    <DxDataGridColumn Caption="TipID" Field="TipHeaderID" />
    <DxDataGridColumn Caption="제목" Field="TipTitle" />
    <DxDataGridDateEditColumn Caption="생성일자" Field="InsertDttm" />
    <DxDataGridDateEditColumn Caption="수정일자" Field="UpdateDttm" />
</DxDataGrid>
}

<h1>@TestProp</h1>
<h1>하하하하</h1>

@code {
    //private WeatherForecast[] forecasts;

    private MyTip.Shared.MyTipModels.MyTipHeader[] myTipHeaders;

    protected override async Task OnInitializedAsync() {
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
        myTipHeaders = await Http.GetFromJsonAsync<MyTip.Shared.MyTipModels.MyTipHeader[]>("api/MyTipHeaders");
    }
    public string TestProp { get; set; } = "aaaa";
    
}
